<template>
  <div>
    <div>
      <p>nom : {{user.username}}</p>
      <p>email : {{user.email}}</p>
      <p>animateur : {{user.is_animator ? "oui" : "non"}}</p>
      <p>admin : {{user.is_admin ? "oui" : "non"}}</p>
    </div>
    <div>
      <h2>membres des groupes : </h2>
      <div v-for="(groupe, index) in groupes" :key="index">
        <router-link :to="`/groupe/${groupe.id}`">{{groupe.name}}</router-link>
      </div>
    </div>
    <div>
      <h2>à créé les groupes : </h2>
      <div v-for="(groupe, index) in createBy" :key="index">
        <router-link :to="`/groupe/${groupe.id}`">{{groupe.name}}</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import config from "@/assets/config/declick"

export default {
  data() {
    return {
      user:{},
      groupes:[],
      createBy: []
    }
  },
  created(){
    
    let endpoint = `${config.apiUrl}v1/users/${this.$route.params.id}`;

    this.$http.get(endpoint).then((r) => {
      this.user = r.body
    })

        
    endpoint = `${config.apiUrl}v1/groupes/member/${this.$route.params.id}`;

    this.$http.get(endpoint).then((r) => {
      this.groupes = r.body
    });

    endpoint = `${config.apiUrl}v1/groupes/owner/${this.$route.params.id}`;

    this.$http.get(endpoint).then((r) => {
      this.createBy = r.body
    });
    
  },
  methods:{

  }
}
</script>