body {
  color: $main-font-color;
  background-color: $main-bg-color;
}

button.primary {
  color: $button-primary-font-color;
  background-color: $button-primary-bg-color;
  &:hover {
    background-color: $button-primary-active-bg-color;
  }
}

.range-slider-rail {
  background-color: $range-slider-rail-color;
}

.range-slider-knob {
  background-color: $range-slider-knob-color;
}

.vue-js-switch > .v-switch-core {
  background-color: $toggle-button-active-bg-color;
}

.vue-js-switch.toggled > .v-switch-core {
  background-color: $toggle-button-bg-color;
}

.settings-panel {
  color: $settings-font-color;
  background-color: $settings-bg-color;
}

.main-menu {
  color: $menu-font-color;
  background-color: $menu-bg-color;
}

*:hover > .main-menu-link {
  background-color: $menu-link-active-bg-color;
}

.main-menu-list.dropdown .main-menu-link {
  background-color: $menu-dropdown-link-bg-color;
  &:hover {
    background-color: $menu-dropdown-link-active-bg-color;
  }
}
