$main-font-color: null;
$main-bg-color: null;

$button-primary-font-color: White;
$button-primary-bg-color: #6EAFF0;
$button-primary-active-bg-color: #7EBFF0;

$range-slider-rail-color: lighten(desaturate(#21FB92, 20), 20);
$range-slider-knob-color: #555;

$toggle-button-bg-color: #495270;
$toggle-button-active-bg-color: #BFCBD9;

$menu-bg-color: #495270;
$menu-font-color: #CECECE;
$menu-link-active-bg-color: darken($menu-bg-color, 10%);
$menu-dropdown-link-bg-color: adjust-hue($menu-bg-color, -30);
$menu-dropdown-link-active-bg-color: darken($menu-dropdown-link-bg-color, 10%);

$settings-font-color: #061F2F;
$settings-bg-color: rgba(#EEEEEE, .9);
