// @font-face {
//   src: url(~@/assets/fonts/Asap-Regular.otf);
//   font-family: Asap;
// }

body {
  font-family: Asap;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

button.primary {
  padding: 10px;
  margin-bottom: 5px;
  border-width: 0;
  font-size: 1.2em;
  cursor: pointer;
}

select {
  padding: 2px;
  font-size: 0.9em;
}

.range-slider {
  cursor: pointer;
}

.vue-js-switch > .v-switch-core {
  background-color: Black;
}
