<template lang="pug">
  .connectionBox
    input(type="text" placeholder="idantifiant" v-model="username")
    input(type="password"  placeholder="mot de passe" v-model="password")
    input(type="submit" value="connection" @click="connection")
</template>

<script>

export default {
  data() {
    return {
      username: "",
      password: ""
    }
  },
  methods: {
    async connection(){
      this.$store.dispatch('connection',{username: this.username, password: this.password})
    }
  }
}
</script>