@font-face {
  font-family: 'Declick Icons';
  src: url('../font/icons/declick.eot?52766108');
  src: url('../font/icons/declick.eot?52766108#iefix') format('embedded-opentype'),
       url('../font/icons/declick.woff2?52766108') format('woff2'),
       url('../font/icons/declick.woff?52766108') format('woff'),
       url('../font/icons/declick.ttf?52766108') format('truetype'),
       url('../font/icons/declick.svg?52766108#declick') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'declick';
    src: url('../font/declick.svg?52766108#declick') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "Declick Icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-home:before { content: '\e800'; } /* '' */
.icon-documentation:before { content: '\e801'; } /* '' */
.icon-teacher:before { content: '\e802'; } /* '' */
.icon-shop:before { content: '\e803'; } /* '' */
.icon-board:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\e805'; } /* '' */
.icon-chart-line:before { content: '\e806'; } /* '' */
.icon-signal:before { content: '\e807'; } /* '' */
.icon-wallet:before { content: '\e808'; } /* '' */
.icon-chart-bar:before { content: '\e809'; } /* '' */
.icon-circuit:before { content: '\e80a'; } /* '' */
.icon-circuits:before { content: '\e80a'; } /* '' */
.icon-writer:before { content: '\e80b'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-diaspora:before { content: '\f008'; } /* '' */
.icon-mastodon:before { content: '\f009'; } /* '' */