<template>
  <div>
    <ul>
      <li><router-link to="/circuits/list">circuits list</router-link></li>
      <li><router-link to="/circuits/courses/list">courses list</router-link></li>
      <li><router-link to='/circuits/courses/create'>créér un exercises</router-link></li>
    </ul>

    <router-view></router-view>
  </div>
</template>
