<template>
  <div>
    <div>
      <h2>créé un groupe :</h2>
      <input type="text" placeholder="nom du groupe" v-model="groupeName">
      <input type="submit" @click="createGroupe">
      {{message}}
    </div>
    <div>
      <h2>list des groupes</h2>
      <div v-if="groupes.length > 0" >
        <div v-for="(groupe, index) in groupes" :key="index">
          <p><router-link :to="`/groupe/${groupe.id}/`">{{groupe.name}}</router-link>
          <span @click="removeGroupe(groupe.id)"> supprimer</span></p>
        </div>
      </div>
      <div v-else>
        il n'y à pas de groupes pour le moment
      </div>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
import config from "@/assets/config/declick"

export default {
  data() {
    return {
      groupes:[],
      groupeName:'',
      message: ''
    }
  },
  created(){
    this.getGroupe();
  },
  methods: {
    async removeGroupe(id){
      let endpoint = `${config.apiUrl}v1/groupes/delete/${id}`;
      await this.$http.delete(endpoint).then((r) => {
        console.log(r);
        this.getGroupe();
      })
    },
    async createGroupe(){

      let endpoint = `${config.apiUrl}v1/groupes/create`;
      
      let data = {
        owner: this.$store.getters.user.id,
        name: this.groupeName
      }
      
      await this.$http.post(endpoint,data).then((r) => {
        // this.getGroupe()

        console.log(r.status);
        
        if(r.status === 200){
          this.message = "groupe existe déja";
          setTimeout(()=>{
            this.message = ""
          },2500)
        } else {
          this.groupes.push(JSON.parse(r.bodyText))
        }
        
      })
    },
    async getGroupe(){     
      let endpoint = `${config.apiUrl}v1/groupes`;
      await this.$http.get(endpoint).then((r) => {
        this.groupes = JSON.parse(r.bodyText)
      })
    }
  },
};
</script>