<template lang="pug">
.home
  //- img(alt='Vue logo' src='../assets/logo.png')
  //- hello-world(msg='Welcome to Your Vue.js App')
  responsive-monitor
</template>

<script>
import HelloWorld from '@/components/HelloWorld.vue'
import ResponsiveMonitor from '@/components/debug/ResponsiveMonitor.vue'

export default {
  name: 'home',
  components: {
    HelloWorld,
    ResponsiveMonitor
  }
}
</script>
<style>
</style>
