<template lang="pug">
.writer
  iframe(class="md-editor" src="https://dev.declick.net/md-editor/")
</template>

<script>
export default {
  name: 'writer'
}
</script>
<style>
iframe.md-editor {
  display: block;
  width: 100%;
  height: 80vh;
  border: 0;
}
</style>
