<template lang="pug">
div(class="container")
  div(class="halfScreen")
    h3 Liste des utilisateurs : {{groupe.name}}
    //- input.form-control(
    //-   v-model='search'
    //-   type='text'
    //-   placeholder='Rechercher'
    //- )
    table.table.table-condensed.table-hover
      thead
        tr
          //- th #
          th nom d'utilisateur
          th email
          th 
      tbody
        tr(v-for='user in users' :class="user.class")
          td 
            router-link(:to="`/user/${user.id}`") {{user.username}}
            //- router-link(:to="'/users/' + user.id")
          td |  {{user.email}}
          td.cursor(@click="unregisterMember(user.id)") |  supprimer
  div(class="halfScreen")
    div
      p ajouter un utilisateur au groupe
        input.form-control(
        v-model='search'
        type='text'
        placeholder='Rechercher'
      )
    table.table.table-condensed.table-hover
      thead
        tr
          th #
          th nom d'utilisateur
          th
      tbody
        tr(v-for='user in allUsers')
          td {{user.id}}
          td
            //- router-link(:to="'/users/' + user.id")
            router-link(:to="`/user/${user.id}`") {{user.username}}
          td.cursor(@click="registerUser(user.id)") inscrire dans le groupe
    .text-center
      ul.pagination
        li(:class='{disabled: currentPage === 1}')
          a(@click='loadAllUser(currentPage - 1)') &laquo; Précédent
        li(v-for='page in pages', :class='{active: page === currentPage}')
          a(@click='loadAllUser(page)') {{page}}
        li(:class='{disabled: currentPage === lastPage}')
          a(@click='loadAllUser(currentPage + 1)') Suivant &raquo;
</template>

<script>
const R = require("ramda");
import debounce from "lodash.debounce";
import Api from "@/api";
import config from "@/assets/config/declick"

export default {
  data () {
    return {
      allUsers:[],
      groupe:{},
      users: [],
      search: "",
      currentPage: null,
      lastPage: null,
      previousPageUrl: null,
      nextPageUrl: null,
    };
  },
  computed: {
    pages () {
      let minimum = Math.max(1, this.currentPage);
      let maximum = Math.min(this.lastPage + 1, this.currentPage + 12);
      return R.range(minimum, maximum);
    }
  },
  async created () {
    this.filterByName = debounce(() => this.loadAllUser(), 500);
    this.loadPage();
    this.loadAllUser(1);
  },
  watch: {
    search () {
      this.filterByName();
    }
  },
  methods: {
    async registerUser(user_id){
      let endpoint = `${config.apiUrl}v1/groupes/${this.$route.params.id}/register/${user_id}`;
      this.$http.post(endpoint).then((r) => {
        if(r.status === 203){
          let target;
          for(let user in this.users){
            if(this.users[user].id === user_id){
              target = this.users[user] 
              target.class = 'exists';
              
    
            }
          }
          setTimeout(() => {
            target.class = 'regular';
          },2500)
          
        } else {
          this.loadPage()
        }
      })
    },
    async unregisterMember(user_id){
     let endpoint = `${config.apiUrl}v1/groupes/${this.$route.params.id}/unregister/${user_id}`;
      this.$http.post(endpoint).then((r) => {
        this.loadPage()
      })
    },
    async loadAllUser(page){
      let result = await Api.getUsersByPage(page, this.search);
      this.allUsers = result.items;
      this.currentPage = result.currentPage;
      this.lastPage = result.lastPage;
    },
    async loadPage () {

      let endpoint = `${config.apiUrl}v1/groupes/${this.$route.params.id}`;
      await this.$http.get(endpoint).then((r) => {
        for(let user in r.body.users){
          r.body.users[user].class = "regular";
        }
        this.users = r.body.users
        this.groupe = r.body.groupe
      })
    }
  }
};
</script>

<style  scoped>
a,li,.cursor{
  cursor: pointer
}
.halfScreen{
  width: 48%
}
div.container{
  display:flex
}
ul.pagination{
  display: flex;
  justify-content: space-evenly
}
.exists{
  /* border: 1px solid green */
  color: green;
}
</style>
