<template>
  <div>
    <input
      type="text"
      class="form-control"
      placeholder="recherche par nom"
      disabled="disabled"
    >

    <table class="table table-hover">
      <thead>
        <tr>
          <th>identifiant</th>
          <th>nom</th>
          <th>description courte</th>
          <th><!-- modify --></th>
          <th><!-- delete --></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(course, index) in courses" :key="index" class="list-group">
          <td>{{ course.id }}</td>
          <td>{{ course.name }}</td>
          <td>{{ course.short_description }}</td>
          <td>
            <router-link
              :to="'list/' + course.id"
              class="btn btn-default"
            ><button>modifier</button></router-link>
          </td>
          <td>
            <button
              @click="removeClicked = true;gonnaRemove = course"
              class="btn btn-default"
            >suprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button @click="createNewCircuit = !createNewCircuit">nouveau parcours</button>
    <course-creator v-if="createNewCircuit" @course-created="getList"></course-creator>
    <div id="removeValidationOverlay" v-if="removeClicked">
      <div id="removeValidation">
        supprimer ce parcourts: {{gonnaRemove.name}} ?
        <div>
          <button @click="removeCircuit(gonnaRemove)">oui</button>
          <button @click="removeClicked = false;gonnaRemove = {}">non</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// TODO: use store

import CourseCreator from './CourseCreator'
// import config from 'assets/config/declick'
var config = {apiUrl:"//declick-serveur.localhost/api/"};

export default {
  data () {
    return {
      gonnaRemove: {},
      removeClicked: false,
      createNewCircuit: false,
      courses: []
    }
  },
  async created () {
    await this.getList()
  },
  methods: {
    async removeCircuit(node){
      let endpoint = `${config.apiUrl}v1/circuits/${node.id}`
      await this.$http({
        method: 'delete',
        url: endpoint
      }).then(() => {
        this.getList()
      })
    },
    async getList(){
      let endpoint = `${config.apiUrl}v1/circuits`
      let {body} = await this.$http.get(endpoint)
      this.courses = body
    }
  },
  components: {
    CourseCreator
  }
}
</script>

<style lang="sass" scoped>
*
  font-size: 14pt

.self
  max-width: 750px
  // @todo Find a workaround to override a property in Vue scoped CSS mode.
  margin: 0 auto !important

.course
  margin-top: 20px
  padding-left: 150px
  border: 2px solid #E7E6E6

.course:after
  content: ''
  display: block
  clear: both

.image-area
  float: left
  width: 150px
  margin-left: -150px

.fields-area
  padding: 10px

.name
  font-size: 18pt
  font-weight: 700

.summary
  color: #2E75B6

.toggle-details-link, .details
  color: #A6A6A6

.toggle-details-link
  text-decoration: none
  cursor: pointer

.details
  display: block
  margin-left: 25px
  white-space: pre-wrap

.glyphicon
  position: relative
  top: 3px
</style>
