<template lang="pug">
#app.connection(v-if="$store.getters.token === ''")
  connection
    
#app(v-else :class="isLateral ? '' : 'is-folded'")
  aside.site-menu
    nav.site-logo
      router-link(class="" to='/') 
        img(class="site-logo" v-show="isLateral" src="@/assets/images/logo.svg")
        img(class="site-logo folded" v-show="!isLateral" src="@/assets/images/logo-fold.svg")
        h1(:class="isLateral ? '' : 'is-folded'") declick

    .categories
      .menu-categories
        router-link(
          class="categorie"
          v-for="route in categories" 
          :key="route.path" 
          :to="route.path"
        )
          span(:class="'icon-' + route.name")
          span.categorie-name {{ $t('categories.' + route.name) }}
      .menu-internals
        router-link(
          class="internal"
          v-for="route in internals" 
          :key="route.path" 
          :to="route.path"
        )
          li.categorie-name {{ $t('internals.' + route.name) }}
    .toggle-fold.categorie(@click="isLateral= !isLateral")
      i.icon-left-open
      span.categorie-name {{ $t('menu.hide' )}}

  
  header.site-header
    h2.site-subtitle interface de gestion
    span.header-right
      span.cursor(@click="disconnect") deconnexion | 
        span.user-name {{$store.getters.user.username}}
      span.user-avatar
  
  main
    .wrapper
      router-view
</template>
<script>

import connection from "@/components/connection/connection.vue";

export default {
  data() {
    return {
      isLateral: true,
      categories: this.$router.options.routes.filter(
        route => route.type === 'categories'
      ),
      internals: this.$router.options.routes.filter(
        route => route.type === 'internals'
      )
    }
  },
  async created() {
    let token = localStorage.getItem('token');
    if(token){
      this.$store.commit("TOKEN",token)
      this.$store.dispatch('getUserByToken',token)
    }
  },
  methods: {
    disconnect(){
      localStorage.removeItem('token')
      this.$store.commit("USER",{})
      this.$store.commit("TOKEN",'')
    }
  },
  components: {
    connection
  }
}
</script>

<style lang="scss">
.cursor{
  cursor: pointer;
}
#app.connection{
  display: flex;
  justify-content: center;
  align-items: center;
}
.connectionBox{
  display: flex;
  flex-direction: column;
}
// @keyframes pulse {
//   0%,
//   100% {
//     opacity: 0.1;
//   }
//   50% {
//     opacity: 1;
//   }
// }
// .loader {
//   animation: 1.2s linear 0.8s infinite pulse;
// }

// #prefetch-loader {
//   position: absolute;
//   top: 50%;
//   left: 0;
//   width: 100%;
//   margin-top: -25px;
//   text-align: center;
//   animation: 1.2s linear 0.8s infinite pulse;
// }

// hover #d1d718
// orange #e42c20
// aubergine claire #6f3b51
// rose #df1581
@import 'assets/css/icons.css';

html,
body,
#app {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  transition: grid-template-columns 1s;
}
#app.is-folded {
  grid-template-columns: 50px 1fr;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #b4b4b4;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px auto;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
  }
}
nav.site-logo {
  background-color: #642d46;
  overflow: hidden;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 100%;

    .button-icon,
    .site-logo {
      height: 30px;
      margin-left: 5px;
    }
    .site-logo.folded {
      margin-left: 12px;
      margin-right: 0;
    }
    h1 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 20px;
    }
    h1.is-folded {
      opacity: 0;
    }
  }
}
.site-header {
  grid-column: 2/3;
  grid-row: 1/2;
  box-shadow: 0 -5px 20px 0 #00000033;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 12px;
  a {
    // font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
  h2.site-subtitle {
    margin-left: 20px;
  }
  .header-right {
    display: flex;
    align-items: center;
    margin-right: 10px;
    .user-avatar {
      display: inline-block;
      height: 40px;
      width: 40px;
      background: url(/img/user.5d7ef00c.png) 47px 0px;
      background-size: 140%;
      border-radius: 50%;
      border: 1px solid #b8b8b8b8;
      margin-left: 10px;
    }
  }
}
aside.site-menu {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px auto 50px;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #4b1531;
  padding-top: 5px;
  padding-bottom: 5px;
  // padding-left: 14px;
  overflow-y: auto;
  overflow-x: hidden;
  & > * {
    overflow-x: hidden;
  }
  .internal,
  .categorie {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    color: white;
    margin-bottom: 2px;
    padding-left: 14px;

    &:hover {
      background-color: #532b3f;
    }
    &-name {
      overflow: hidden;
    }

    .button-icon {
      width: 18px;
      margin-left: 16px;
    }
    .categorie-name {
      margin-left: 16px;
      white-space: nowrap;
    }
  }

  .menu-internals {
    position: relative;
    padding-top: 20px;

    &::before {
      content: '';
      display: block;
      height: 1px;
      width: 70%;
      opacity: 0.5;
      background-color: white;
      margin-left: 24px;
      margin-bottom: 20px;
    }
    .internal {
      height: 30px;
    }
  }
}

.toggle-fold {
  background-color: #441f32;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding-left: 15px;
  .categorie-name {
    margin-left: 16px;
    white-space: nowrap;
  }
}
i.icon-left-open::before {
  transform: rotate(0deg);
  transition: transform 1s;
}
.is-folded i.icon-left-open::before {
  transform: rotate(180deg);
}
.is-folded div.menu-internals {
  opacity: 0;
}

main {
  grid-column: 2/3;
  text-align: left;
  .wrapper {
    padding: 40px;
  }
}
</style>
