<template>
  <div>
    <div v-for="(course, index) in courses" :key="index">
      <div :class="'color_'+index%2">
        <div class="smallPadding">
          <p>{{course.name}}</p>
          <p><a :href="'https://v2.declick.net/client/learn.html#id='+course.id" target="blank">voir </a></p>
          <p><router-link :to="'/circuits/courses/edit/'+course.id">modifier</router-link></p>
          <p>url : {{'/client/learn.html#id='+course.id}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

var config = {apiUrl:"//declick-serveur.localhost/api/"};

export default {
  data() {
    return {
      courses: []
    }
  },
  async mounted(){
    await this.getExercises()
    console.log(this.courses);
    
  },
  methods:{
    async getExercises(){
      let endpoint = `${config.apiUrl}v1/projects/exercices`
      let {body} = await this.$http.get(endpoint)
      this.courses = body
    }
  }
}
</script>

<style scoped>
  .smallPadding{
    padding: 5px;
    color: black
  }
  .color_0{
    background: #E0E0E0
  }
  .warpper{
    height: 84vh;
    overflow: auto;
  }
</style>
