<template>
  <div>
    <!-- créé un nouveau cours
    <div>
      <select v-model="currentEdit">
        <option value="instruction.html" selected>instruction</option>
        <option value="solution">solution</option>
        <option value="exercise">exercise</option>
      </select> 
    </div>
    <div>
      {{currentEdit}}
    </div> -->
    <iframe :src="getUrl"></iframe>
  </div>
</template>

<script>
import config from "@/assets/config/declick"

export default {
  data() {
    return {
      currentEdit: 'instuction.html'
    }
  },
  computed: {
    getUrl () {
      return `${config.clientUrl}/index.html#editor=true&token=${this.$store.getters.token}&id=6960&wiki=false`
    }
  },
}
</script>