<template>
  <div >
    <div v-if="course['instructions.html']">
      <p>instructions</p>
      <div>{{course['instructions.html'][1]}}</div>
    </div>
    <div v-if="course.solution">
      <p>solution</p>
      <div>{{course.solution[1]}}</div>
    </div>
    <div v-if="course.exercise">
      <p>exercise</p>
      <div>{{course.exercise[1]}}</div>
    </div>
  </div>
</template>

<script>
var config = {apiUrl:"//declick-serveur.localhost/api/"};

export default {
  data() {
    return {
      course:{}
    }
  },
  async created(){
    await this.getCourse()
  },
  methods: {
    async getCourse(){
      let endpoint = `${config.apiUrl}v1/projects/${this.$route.params.id}/exercicesContent`
      let {body} = await this.$http.get(endpoint)
      this.course = body
      console.log(this.course);
      
    }
  },
}
</script>